
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
font-family: 'Roboto', sans-serif;
background-color:rgb(241, 241, 241);
}

main {
  padding: 20px 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    border-bottom: solid 2px black;

}

h1 {
    font-size: 16px;
    font-weight: 800;
}

#font1 {
    font-size: 48px;
}

#font2 {
    font-size: 30px;
}


.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links > ul {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 30px;
    padding: 20px 0;
}

li + li {
    margin-left: 20px;
}

.fa {
    padding: 20px;
    font-size: 85px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
 
  .fa-amazon {
    background: black;
    color: white;
  }
  
  /*Twitter*/
  .fa-bullseye {
    background: hsl(0, 100%, 40%);
    color: white;
  } 

  .main-content {
  display: flex;
justify-content: space-evenly;
margin-top: 50px;

}

.left-content {
    display: flex;
  flex-basis: 40%;
 flex-flow: column;
 justify-content: space-between;

  
}

#book {
  
  position: relative;
}

.book-img {
    position: absolute;
    left: 0;
    width: 100%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;

}

.book-img.top:hover {
    opacity: 0;
}
.reviews {
  flex-basis: 35%;
  background-color: white;
  padding: 20px; 

}

#review-1 {
  background-color: orange;
  font-size: 20px;
 }
 #review-2 {
  background-color: rgb(224, 162, 216);
  font-size: 20px;
 }
 #review-3 {
  background-color:hsl(125, 36%, 51%);
  font-size: 20px;
 }

#name {
text-transform: uppercase;
font-size: 24px;
font-style: none;
}

dt {
padding: 15px;
border-radius: 10px;
text-align: center;
color:white;
line-height: 1.5;
box-shadow: 10px 10px 5px  gray;
}

dd {
margin: 15px 25px;
font-size: 18px;
line-height: 2;
}

.about-author {
    
    padding: 30px;
    background-color: white;
    margin: 50px 0;
    margin-bottom: 0;
}

h2 {
    font-size: 30px;
    padding: 20px 0;
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
    background-color: hsl(210, 56%, 64%);
    font-weight: 700;
    color: hsl(0, 0%, 23%);
  text-shadow: 2px 2px 4px rgb(214, 212, 212);
  letter-spacing: 2.5px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px  gray;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

#about-book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-color: white;
    margin: 35px 22px;

    
}

.book-sum {
    font-size: 30px;
    padding: 20px 0;
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
    background-color: hsl(38, 84%, 59%);
    font-weight: 700;
    color: hsl(0, 0%, 23%);
  text-shadow: 2px 2px 4px rgb(214, 212, 212);
  letter-spacing: 2.5px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px  gray;
}